.footer {
    position: relative;
    width: 100vw;
    padding: 45px 0px;
    background-color: $white;
    z-index: 10;

    .contacts {
        &__header {
            margin-bottom: 20px;

            h2 {
                font-size: 2em;
            }
        }

        &__mail {
            font-size: 1.4em;
        }

        &__socials-list {
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-start;
            margin-top: 10px;

            p {
                margin-top: 10px;
                font-size: 1.4em;
            }

            .social {
                margin: 15px 0px;
                font-size: 1.4em;

                img {
                    width: 40px;
                    height: 40px;
                    margin-right: 6px;
                }
            }
        }
    }

    &__divider {
        width: 100%;
        height: 1px;
        background-color: rgba(0,0,0,.5);
    }

    &__copyright {
        color: $black;
        font-size: 1.8em;
    }
}

@media(max-width: 1200px) {
    .footer {
        .contacts {
            display: flex;
            flex-direction: column;
            align-items: center;
        }

        &__copyright {
            text-align: center;
        }
    }
}