@import './colors';
@import './grid';

@import './header';
@import './content';
@import './game';

html {
    height: 100%;
    overflow: hidden;
}

body {
    height: 100%;
    margin: 0;
    padding: 0;
    color: $white;
    font-family: 'Open Sans', sans-serif;
    perspective: 1px;
    transform-style: preserve-3d;
    overflow-y: scroll;
    overflow-x: hidden;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
    padding: 0;
}

img::selection {
    background-color: transparent;
}